[Desktop Entry]
Type=Application
Name=Pli Info VPN
Comment=A VPN client that utilizes TLS and DTLS for secure session establishment
Terminal=false
Icon=/opt/plinfo/pli-info.png
Exec=/opt/plinfo/bin/plinfo
StartupNotify=false
