[Desktop Entry]
Type=Application
Name=Plitun SSL VPN
Comment=A VPN client that utilizes TLS and DTLS for secure session establishment
Terminal=false
Icon=/opt/plitun/plitun.png
Exec=/opt/plitun/bin/plitun
StartupNotify=false
