<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PliTun SSL VPN</Name>
    <Version>1.1.0</Version>
    <Title>PliTun SSL VPN</Title>
    <Publisher>https://plitun.com</Publisher>
    <ProductUrl>https://plitun.com</ProductUrl>
    <InstallerWindowIcon>plitun64.png</InstallerWindowIcon>
    <InstallerApplicationIcon>plitun</InstallerApplicationIcon>
    <StartMenuDir>PliTun SSL VPN</StartMenuDir>
    <TargetDir>@ApplicationsDir@/</TargetDir>
    <RemoveTargetDir>true</RemoveTargetDir>
    <WizardShowPageList>false</WizardShowPageList>
    <SupportsModify>false</SupportsModify>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <PersistentLocalCache>false</PersistentLocalCache>
    <ControlScript>controller.js</ControlScript>
    <DisableCommandLineInterface>true</DisableCommandLineInterface>
    <DisableAuthorizationFallback>true</DisableAuthorizationFallback>
    <SaveDefaultRepositories>false</SaveDefaultRepositories>
</Installer>
